body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 12px;
  --font-size-lg: 14px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;

  /* Colors */
  --white: #fff;
  --dark: #29292b;
  --primary: #050c9c;
  --color-lightgray: #ccc;
  --color-darkslategray: #404040;
  --color-lightblue: #a7e6ff;

  /* Gaps */
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-31xl: 50px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-mini: 15px;
  --padding-131xl: 150px;
  --padding-21xl: 40px;
  --padding-xl: 20px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-101xl: 120px;
}
