@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.silakan-hubungi-kami {
  position: relative;
}
.vector-icon4 {
  position: absolute;
  height: 76.67%;
  width: 76.67%;
  top: 11.67%;
  right: 11.67%;
  bottom: 11.67%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close-large-fill {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.silakan-hubungi-kami-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-6xl);
}
.vector-icon5 {
  width: 34.8px;
  position: relative;
  height: 35px;
}
.sales-putra {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--dark);
  text-align: left;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-6xl);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-button:active,
.frame-button:hover {
  background-color: var(--color-lightblue);
}
.sales-nani,
.wa-drawer {
  position: relative;
  display: flex;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.sales-nani {
  width: 116px;
  font-weight: 600;
  color: var(--dark);
  align-items: center;
  flex-shrink: 0;
}
.wa-drawer {
  width: 380px;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  height: 100%;
  max-width: 90%;
  overflow: auto;
  color: var(--color-darkslategray);
}
.wa-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
@media screen and (max-width: 1200px) {
  .wa-drawer {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .wa-drawer {
    display: flex;
    padding-top: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .wa-drawer {
    padding-top: 0;
    box-sizing: border-box;
  }
}
